.css-spinner {
    width: 40px;
    height: 40px;
    background-color: #F00036;

    margin: 100px auto;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#back-to-top {
    position: fixed;
    background-image: url('./assets/img/totop.svg'), none;
    width: 48px;
    height: 48px;
    display: inline-block;
    bottom: 10px;
    right: 10px;
    z-index: 9999;

    &:hover {
        background-image: url('./assets/img/totop-white.svg'), none;
    }
}

.page-overview {
    .page-overview__wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
}