/***************************************************/
/* ABOUT US                                        */
/***************************************************/

/*
#hero {
  height:600px;
  position:relative;
  background-color:white;
  background-image:url('assets/img/home/bluelines-top.svg'),url('assets/img/home/redlines-bottom.svg');background-repeat:no-repeat,no-repeat;background-position:left 0px top 0px,right 0px bottom 0px;background-size:30%;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 650px;
    width: 100%;
    height: 10px;
    transform: skewY(3deg);
    box-shadow: 0px 5px 10px rgba(145,8,17, .6);
    -webkit-backface-visibility: hidden;
  }
}
*/
br{clear: both;}
#hero {
  /* -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 74%); */
  /* clip-path: polygon(0 0,100% 0,100% 100%,0 74%); */
  height: 700px;
  /* box-shadow: 0 5px 10px rgba(145,8,17,0.6); */
  background-image: url(assets/img/about/top-lines-rb.svg),url(assets/img/about/bottom-lines.svg);
  background-repeat: no-repeat,no-repeat;
  background-position: left 76px top 0,right 70px bottom 0;
  background-size: 271px;
  margin-top: -80px;
  /*
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 754px;
    width: 100%;
    height:10px;
    transform: skewY(7deg);
    box-shadow: 0px 5px 10px rgba(145,8,17, .6);
    -webkit-backface-visibility: hidden;
  }*/
}

#hero {
  & .front {
    position: absolute;
   top: 15%;
   /* -webkit-transform: translateY(-50%); */
   /*-ms-transform: translateY(-50%);*/
   /* transform: translateY(-50%); */
   left: 0;
   width: 100%;
   text-align: center;
   color: #dedee3;
   font-size: 22rem;
  }
  & .back {
    position: absolute;
   top: 25%;
   /* -webkit-transform: translateY(-50%); */
   /*-ms-transform: translateY(-50%);*/
   /* transform: translateY(-50%); */
   left: 0;
   width: 100%;
   text-align: center;
   color: #07074e;
   font-size: 6rem;
  }
}


.page-template-aboutus #heading {
}

.page-template-aboutus {
  h1 {
    margin:0px;
    padding:0px;
  }
  h2 {
    margin:0px;
    padding-bottom:50px;
  }
  & [class*="fa-"] {
    color:$grey-medium;
  }
  & .fa-linkedin-square:hover{
  	color:#0077b5;
  }
  & .fa-facebook-square:hover{
  	color:#3c5a99;
  }
  & .fa-twitter-square:hover{
  	color:#1da1f2;
  }
  & .fa-google-plus-square:hover{
  	color:#db3236;
  }
  & .fa-linkedin-square, & .fa-facebook-square, & .fa-twitter-square, & .fa-google-plus-square{
    transition: color .6s ease-out;
  }
  & .fa-linkedin-square:hover, & .fa-facebook-square:hover, & .fa-twitter-square:hover, & .fa-google-plus-square:hover{
    transform: translateY(-5px);
    text-shadow: 1px 1px rgba(7,7,78,.5);
  }
}

.page-template-aboutus {
  & #team-left {
    /*margin:-500px 0 200px 0;*/
    & ul li {
      display:inline;
      margin-right:1rem;
    }
    & .profile {
      border:5px solid $red;
      border-radius:2px;
      margin-left:17%;
      padding:5% 6%;
    }
    & .panel-default {
      border:none;
    }
    & .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border-top-color:white!important;
      border-bottom-color:white;
    }
    & .panel-default>.panel-heading {
      background-color: white;
      border-color:white;
      height:50px;
    }
    & .panel-heading, & .panel-body {
      padding:0px;
    }
    & .panel-body > .container {
      padding:0px;
      width:auto;
    }
    & .panel-heading .accordion-toggle:after {
      font-family: 'FontAwesome';
      content: "\f0d7";
      float: right;
      font-size:2rem;
      color: $blue;
    }
    & .profile-image {
      width: 175px;
      height: 175px;
      top: 250px;
      /*
      margin-left: -650px;
      */
      margin-left:-38%;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      z-index: 2;
      left:50%;
      border:1px solid $blue;
      border-radius:50%;
    }
    & .hexagon {
      width: 300px;
      height: 315px;
      top: 425px;
      /*
      margin-left: -780px;
      */
      margin-left:-46%;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      z-index: 2;
      left:50%;
    }
  }
}

.page-template-aboutus {
  & #team-right {
    /*margin:-500px 0 200px 0;*/
    & ul li {
      display:inline;
      margin-right:1rem;
    }
    & .profile {
      border:5px solid $blue;
      border-radius:2px;
      margin-left:0px;
      padding:5% 6%;
    }
    & .panel-default {
      border:none;
      border-bottom-color:white!important;
    }
    & .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border-top-color:white!important;
      border-bottom-color:white!important;
    }
    & .panel-default>.panel-heading {
      background-color: white;
      border-color:white;
      height:50px;
    }
    & .panel-heading, & .panel-body {
      padding:0px;
    }
    & .panel-body > .container {
      padding:0px;
      width:auto;
    }
    & .panel-heading .accordion-toggle:after {
      font-family: 'FontAwesome';
      content: "\f0d7";
      float: right;
      font-size:2rem;
      color: $blue;
    }
    & .profile-image {
      width: 175px;
      height: 175px;
      top: 250px;
      /*
      margin-left: 450px;
      */
      margin-left:28%;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      z-index: 2;
      left:50%;
      border:1px solid $blue;
      border-radius:50%;
    }
    & .hexagon {
      width: 300px;
      height: 315px;
      top: 425px;
      /*
      margin-left: 480px;
      */
      margin-left:30%;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      z-index: 2;
      left:50%;
    }
  }
}

#culture {
  margin-top: 300px;
  background:url('assets/img/about/culture-and-values.jpg') no-repeat;
  background-size:100%/*cover*/;
  /*height:800px;*/
  position:relative;
  padding-top:50%;
  /*background-position:center center;*/
  & .values {
    /*transform:translateY(28%);
    margin-top:23%;
    padding:2%;*/
    background-color:white;
    & .heading {
      width:55%;
      margin:0 auto;
    }
    & .sub-heading {
      width:50%;
      margin: auto;
    }
    & .row {
      padding:3rem 0px;
    }
    & .copy {
      text-align:left;
      padding:3%;
      & h3 {
        padding-top:0px;
        margin-top:0px;
        font-weight:400;
      }
    }
    & .customer-experiences {
      background-image:url('assets/img/about/customer-experiences.jpg');
      background-size:cover;
      height:288px;
    }
    & .great-product {
      background-image:url('assets/img/about/great-product.jpg');
      background-size:cover;
      height:288px;
    }
    & .large-market {
      background-image:url('assets/img/about/large-market.jpg');
      background-size:cover;
      height:288px;
    }
    & .not-comfort {
      background-image:url('assets/img/about/not-comfort.jpg');
      background-size:cover;
      height:288px;
    }
    & .believe {
      background-image:url('assets/img/about/believe.jpg');
      background-size:cover;
      height:288px;
    }
  }
}

#careers {
  /*background-image:url('assets/img/about/careers.gif');*/
  background-repeat: no-repeat;
  background-size:100%/*cover*/;
  margin-top: 20px;
  margin-bottom: -150px;
  padding-top:34%;
  position:relative;
  & .values {
    /*transform:translateY(18%);
    margin-top:23%;
    padding:2%;*/
    background-color:white;
  }
  & .red-box {
    position:relative;
    float:right;
    border:5px solid $red;
    border-radius:2px;
    width:90%;
    /*height:600px;*/
    /*top:-1050px;*/
  }
  & .blue-box {
    position:relative;
    float:left;
    border:5px solid $blue;
    border-radius:2px;
    width:100%;
    margin-left:-10%;
    /*
    height:600px;
    */
    top:100px;
    padding:5%;
    padding-bottom: 200px;
    & .panel-group {
      width:85%;
      float:right;
      text-align:left;
    }
    & .panel-default {
      border:none;
    }
    & .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border-top-color:white!important;
      border-bottom-color:white;
    }
    & .panel-default>.panel-heading {
      background-color: white;
      border-color:white;
      /*height:50px;*/
    }
    & .panel-heading, & .panel-body {
      padding:0px;
    }
    & .panel-body > .container {
      padding:0px;
      width:auto;
    }
    & .accordion-toggle {
      padding-bottom:8px;
    }
    & .panel-title {
      color:$blue;
      font-size:2rem;
    }
    & .panel-heading .accordion-toggle:after {
      font-family: 'FontAwesome';
      content: "\f0d7";
      float: right;
      font-size:2rem;
      color: $blue;
    }
  }
}



.page-template-aboutus #cta {
  transform:translateY(0px);
  position:relative;
}

.cta__blue {
  margin-bottom:200px;
  @include blueGradient;
  &:before {
    /*@include blueGradient;*/
  }
}

.page-template-aboutus footer {
  margin-top:25px;
  transform:translateY(2000px);
  position:relative;
}
