.author-header-container {
    /*margin-top: 3.6rem;*/
    padding-top: 50px;
    /*margin-bottom: 50px;*/
    min-height: 300px;
}
.author-header {
    min-height: 300px;
    /*margin-bottom: 50px;*/
    /*display: table;*/
    border-bottom: 1px solid #07074e;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}
.blog-author-hero-avatar{
  height: 300px;
}
.author-header-copy {
    display: table-cell;
    vertical-align: top;
}
.author-header p.spotlight {
    color: #07074e;
    font-size: 1rem;
    margin-bottom: 10px;
}
.author-header h2 {
    font-family: 'PT Sans',sans-serif;
    color: #910811;
    font-size: 2rem;
    width: auto;
}
.author-header-desc {
    /*width: 50%;*/
}
.author-header p {
    font-famiy: 'PT Sans Narrow',sans-serif;
    font-size: 1.3rem;
    color: #07074e;
}

#blog-filters .navbar{
  border:none;
  box-shadow: none;
}

#blog-posts .thumbnail{
  border: none;
}

.course .img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 314px;
    border:1px solid #2C3A66;
}
.course img {
    display: block;
    min-width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    max-width: max-content;
}
#blog-posts .cat {
    margin: .6rem 0 1rem 0;
    font-weight: 400;
    font-size: 1.1rem;
    color: #58595b;
}
.course .title {
    position: relative;
    margin-bottom: 10px;
}


#main article h1, #main article h2, #main article h3, #main article .entry-content>*:not(img):not(div), #main article #comments>div {
    max-width: 1110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog #main p, .contact #main article p, .thank-you #main article p, .pass-req p {
    text-align: left;
    color: #888;
    font-size: 17.5px;
    font-size: 1.25rem;
    color: #58595b;
}

.course h2 {
    color: #910811;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.6rem;
    height: 70px;
    margin-bottom: 0px;
}
.course .line {
    height: 3px;
    width: 30%;
    background-color: #910811;
    position: absolute;
    bottom: 0px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.course  a:hover{
  text-decoration: none;
}
.course  a:hover .line {
    width: 100%;
}

#blog-posts .time {
    font-size: 1.1rem;
    margin: 0px;
    padding: .7rem 0;
}
/**** SINGLE POST ******/
.single-post .slider-header{margin-bottom: 50px;}
.single-post a:hover{text-decoration: none;}
.single-post h2{font-size: 2.2rem;}
.page-text p, .page-content p, .entry-content p {
    color: #231f20;
}
#main article p {
    text-align: left;
    font-size: 1.35rem;
    font-weight: 400;
}
.blog-post p, .blog-post ol, .blog-post ul {
    padding: 0 25% 0 0%;
    padding-top: 0px;
    padding-right: 25%;
    padding-bottom: 0px;
    padding-left: 0%;
}
/*.page-text, .page-content, .entry-content*/
#main article {
    font-size: 1.35rem;
    color: #231f20;
}
.twitter {
  text-align: center;
    display: inline;
    width: 25%;
    height: 100%;
    float: left;
    border-top: 5px solid #07074e;
    padding-top: 25px;
    margin-right: 5%;
    color: #07074e;
}
.twitter-dropdown {
    display: none;
}
.takeaways.dropdown-menu{
  top:60px; 
}
.twitter-mobile {
    display: none;
}
.twitter-card, blockquote {
  text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    color: #07074e;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 8px 8px 0px 0px rgba(32,46,93,0.05);
    -moz-box-shadow: 8px 8px 0px 0px rgba(32,46,93,0.05);
    box-shadow: 8px 8px 0px 0px rgba(32,46,93,0.05);
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.twitter-card i {
    color: #818486;
    margin-top: 15px;
    display: block;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.share {
    background-image: url(http://client.blackbearnj.com/tl/wp-content/themes/truthlab/assets/img/social-share.svg);
    height: 45px;
    width: 45px;
    position: fixed;
    right: 55px;
    top: 15%;
}
.social-menu {
    display: none;
    float: right;
    margin-right: -38px;
}
.blog-post {
    display: inline;
    width: 70%;
    height: 100%;
    float: left;
    text-align: left;
}
.blog-post .rt-reading-time {
    display: none!important;
}
.blog-post img.alignright {
    margin: 20px -115px 20px 20px;
}
.blog-post img.alignleft {
    margin: 20px 20px 20px -255px;
}
.more-author-mobile {
    display: none;
}
.post img {
    border: 1px solid #07074e;
}
#main article blockquote {
    width: 70%;
    padding: 10% 10% 10% 0;
    border-left: none;
    margin: 40px 40px 40px -325px;
    margin-bottom: 40px!important;
    float: left;
}
#main article blockquote p {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: right;
}
.more-author {
    height: auto;
    position: relative;
    background: #75000e;
    background: -moz-linear-gradient(left, #75000e 0%, #dd0035 100%);
    background: -webkit-linear-gradient(left, #75000e 0%,#dd0035 100%);
    background: linear-gradient(to right, #75000e 0%,#dd0035 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75000e', endColorstr='#dd0035',GradientType=1 );
    -ms-box-orient: horizontal;
    color: white;
    width: 90%;
    padding: 25px;
}
.more-author p.more {
    font-style: italic;
    display: inline;
    width: 30%;
    float: left;
    padding-right: 0px;
    color: white;
}
.more-author .name {
    display: inline;
    width: 50%;
    float: left;
    transform: translateX(25%);
    margin-top: 20px;
}
.more-author img {
    display: inline;
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    transform: translateX(100%);
    background: #FFF;
}
.more-author .name h3 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin: 0px;
    text-align: right;
    padding: 0px;
}
.more-author .name p {
    text-align: right;
    padding-right: 0px;
}
.more-author:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    float: left;
    left: 0;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
}