#blog-filters {
    text-align: center;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }

    > h4 {
        margin-top: 20px;
        font-style: italic;
        font-size: 1.25rem;
        font-weight: 400;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .nav {
        float: none;

        li {
            float: none;
            display: inline-block;
        }
    }

    .navbar {
        border: none;
        box-shadow: none;

        @media (max-width: 768px) {
            top: 0;
        }
    }

    .slick-slider {
        padding-right: 20px;
        padding-left: 20px;
        position: relative;

        .slick-slide {
            margin-right: 15px;

            > a {
                @media(max-width: 569px) {
                    font-size: 21px;
                }
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0;
            z-index: 9999;

            &:before {
                content: '';
                display: block;
                border: 4px solid #202C5D;
                border-left: none;
                border-bottom: none;
                width: 25px;
                height: 25px;
            }

            &.slick-prev {
                left: 0;

                &:before {
                    transform: rotate(-135deg);
                }
            }

            &.slick-next {
                right: 0;

                &:before {
                    transform: rotate(45deg);
                }
            }

            &.slick-disabled {
                display: none !important;
            }
        }
    }
}

.author-header-container {
    padding-top: 50px;
    min-height: 300px;

    .section.author-header {
        @media(max-width: 767px) {
            position: relative;
            border-bottom: 10px solid #283055;
        }
    }
}

.blog-author-hero-avatar {
    height: 300px;
}

.author-header {
    min-height: 300px;
    border-bottom: 1px solid #07074e;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;

    p {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 1.3rem;
        color: #07074e;

        &.spotlight {
            color: #07074e;
            font-size: 1rem;
            margin-bottom: 10px;

            @media (max-width: 767px) {

            }
        }
    }

    h2 {
        font-family: 'PT Sans', sans-serif;
        color: #910811;
        font-size: 2rem;
        width: auto;
    }

    .author-image-wrapper {
        @media(max-width: 767px) {
            display: none;
        }
    }

    .author-header-copy {
        display: table-cell;
        vertical-align: top;

        @media(min-width: 768px) {
            background-image: none !important;
        }

        @media(max-width: 767px) {
            display: block;
            padding: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 110% center;
        }

        @media(max-width: 600px) {
            background-position-x: 40vw;
        }

        @media(max-width: 440px) {
            background-size: cover;
            background-position-x: 20vw;
        }

        .author-header-desc {
            @media(max-width: 767px) {
                text-shadow: 0 2px 1px #FFF, 2px 0 1px #fff, -2px 0 1px #fff, 0 -2px 1px #fff;
                color: #414453 !important;
                width: 80%;
            }
        }

        h2 {
            @media(max-width: 767px) {
                border-bottom: 1px solid #910811;
                display: inline-block;
                margin-top: 0;
                padding-top: 0;
                font-size: 1.8rem;
                text-shadow: 0 2px 1px #FFF, 2px 0 1px #fff, -2px 0 1px #fff, 0 -2px 1px #fff;
            }
        }
    }
}

#blog-posts .thumbnail {
    border: none;
}

.course {
    .img-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        border: 1px solid #2C3A66;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left center;
        transition: all .2s ease;
    }

    @media (min-width: 768px) {
        &:hover {
            .img-container {
                background-size: auto 110%;
                background-position: 5% center;
            }
        }
    }
}

.course img {
    display: block;
    min-width: 100%;
    /*height: 100%;*/
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    max-width: max-content;
}

#blog-posts .cat {
    margin: .6rem 0 1rem 0;
    font-weight: 400;
    font-size: 1.1rem;
    color: #58595b;
}

.course .title {
    position: relative;
    margin-bottom: 10px;
}

#main article h1, #main article h2, #main article h3, #main article .entry-content > *:not(img):not(div), #main article #comments > div {
    max-width: 1110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog #main p, .contact #main article p, .thank-you #main article p, .pass-req p {
    text-align: left;
    font-size: 1.25rem;
    color: #58595b;
}

.course h2 {
    color: #910811;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.6rem;
    height: 70px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative; /*text-align: justify;*/
    margin-right: -1em;
    padding-right: 1em;
}

.course h2.isOverflown:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
}

.course .line {
    height: 3px;
    width: 30%;
    background-color: #910811;
    position: absolute;
    bottom: 0px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.course a:hover {
    text-decoration: none;
}

.course a:hover .line {
    width: 100%;
}

#blog-posts .time {
    font-size: 1.1rem;
    margin: 0px;
    padding: .7rem 0;
}

/**** SINGLE POST ******/
.single-post .slider-header {
    margin-bottom: 50px;
}

.single-post a:hover {
    text-decoration: none;
}

.single-post h2 {
    font-size: 2.2rem;
}

.page-text p, .page-content p, .entry-content p {
    color: #231f20;
}

#main article p {
    text-align: left;
    font-size: 1.35rem;
    font-weight: 400;
}

.blog-post p, .blog-post ol, .blog-post ul {
    padding: 0 25% 0 0%;
    padding-top: 0px;
    padding-right: 25%;
    padding-bottom: 0px;
    padding-left: 0%;
}

/*.page-text, .page-content, .entry-content*/
#main article {
    font-size: 1.35rem;
    color: #231f20;
}

.twitter {
    text-align: center;
    display: inline;
    width: 25%;
    height: 100%;
    float: left;
    border-top: 5px solid #07074e;
    padding-top: 25px;
    margin-right: 5%;
    color: #07074e;
}

.twitter-dropdown {
    display: none;
}

.takeaways.dropdown-menu {
    top: 60px;
}

.twitter-mobile {
    display: none;
}

.twitter-card, blockquote {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    color: #07074e;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 8px 8px 0px 0px rgba(32, 46, 93, 0.05);
    transition: .2s ease;

    i.fa {
        color: #818486;
        margin-top: 15px;
        display: block;
        transition: .2s ease;
    }

    &:hover {
        color: $red;
        box-shadow: 8px 8px 0 0 $red;

        > p {
            color: $red;
        }

        i.fa {
            color: $red;
        }
    }
}

.share {
    background-image: url(assets/img/social-share.svg);
    height: 45px;
    width: 45px;
    position: fixed;
    right: 55px;
    top: 15%;
}

.social-menu {
    display: none;
    float: right;
    margin-right: -38px;
}

.blog-post {
    display: inline;
    width: 70%;
    /*height: 100%;*/
    float: left;
    text-align: left;
}

.blog-post .rt-reading-time {
    display: none !important;
}

.blog-post img.alignright {
    margin: 20px -115px 20px 20px;
}

.blog-post img.alignleft {
    margin: 20px 20px 20px -255px;
}

.more-author-mobile {
    display: none;
    clear: both;
}

.post img {
    border: 1px solid #07074e;
}

#main article blockquote {
    width: 55%;
    padding: 5% 5% 5% 0;
    border-left: none;
    margin: 40px 40px 40px -325px;
    margin-bottom: 40px !important;
    float: left;

    p {
        font-size: 1.8rem;
        line-height: 3rem;
        text-align: right;
        padding: 0;
    }

    .fa.fa-twitter {
        font-size: 1.2rem;
    }
}

.more-author {
    clear: both;
    height: auto;
    position: relative;
    background: #75000e;
    background: -moz-linear-gradient(left, #75000e 0%, #dd0035 100%);
    background: -webkit-linear-gradient(left, #75000e 0%, #dd0035 100%);
    background: linear-gradient(to right, #75000e 0%, #dd0035 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75000e', endColorstr='#dd0035', GradientType=1);
    -ms-box-orient: horizontal;
    color: white;
    width: 90%;
    padding: 25px;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        float: left;
        left: 0;
        z-index: -1;
        bottom: 0;
        transform-origin: left bottom;
        transform: skewY(3deg);
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    p.more {
        font-style: italic;
        display: inline;
        width: calc((100% - 100px) * 0.3);
        float: left;
        padding-right: 0;
        color: white;
    }

    .name {
        display: inline;
        width: calc((100% - 100px) * 0.7 - 45px);
        float: left;
        transform: translateX(25%);
        margin-top: 20px;
        margin-right: 45px;

        h3 {
            font-weight: bold;
            font-size: 2rem;
            color: white;
            margin: 0;
            text-align: right;
            padding: 0;
        }

        p {
            text-align: right;
            padding-right: 0;
        }
    }

    img.avatar {
        display: inline;
        width: 100px;
        height: 100px;
        border: 5px solid white;
        border-radius: 50%;
        transform: translateX(65%);
        background: #FFF;
        margin: 0;
    }

    .author__position-title {
        text-align: right !important;
        color: #fff;
        font-weight: 500;
        font-size: 1.6rem;
    }
}

.load-more__wrapper {
    text-align: center;

    > a {
        font-size: 1.2rem;
        text-transform: uppercase;
        border: 3px solid #00004F;
        padding: 10px 20px;
        display: inline-block;
        color: #00004F;
        font-weight: 700;
        text-decoration: none;
    }
}

body.single-post {
    #cta {
        overflow: hidden;

        .cta__blue {
            padding-left: 5px;
            padding-right: 5px;

            .text-right {

                @media (min-width: 769px) and (max-width: 991px) {
                    padding-top: 10px;
                    text-align: center;
                }

                .request-toggle {
                    display: inline-block;

                    @media(min-width: 992px) {
                        margin: 0 40px 10px;
                    }
                }
            }
        }
    }
    #primary {
        margin-bottom: 40px;
    }

    .sharethis-inline-share-buttons {
        > div:not(:hover) {
            background: #818486 !important;
        }
    }

    .blog-post {
        .entry-content {
            a {
                color: #139fac;

                &:hover {
                    color: #910811;
                    text-decoration: underline;
                }
            }
        }
    }
}

#blog-posts {
    .courses {
        .course {
            @media(min-width: 768px) {
                &.col--seventh {
                    .thumbnail {
                        position: relative;

                        .img-container {
                            padding-bottom: 31%;
                            background-position: center center;
                            background-size: 100% auto;
                        }

                        .caption {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 100%;

                            p.cat, p.time, p.description {
                                display: none;
                            }

                            .title {
                                h2 {
                                    margin: 0;
                                    line-height: 1.4;
                                    height: auto;
                                    text-align: center;
                                    font-size: 50px;
                                    color: #fff;
                                    text-shadow: 1px 1px 1px #333;
                                    width: 100%;
                                    max-width: none;
                                    padding: 0 25px;

                                    @media(min-width: 768px) and(max-width: 991px) {
                                        font-size: 32px;
                                    }

                                    &:after {
                                        display: block;
                                        border: 3px solid #fff;
                                        content: "Read Now >";
                                        max-width: 230px;
                                        font-size: 35px;
                                        padding: 5px 10px;
                                        margin: 0 auto;
                                        margin-top: 25px;
                                        font-family: 'Open Sans Condensed', sans-serif;

                                        @media(min-width: 768px) and(max-width: 991px) {
                                            font-size: 28px;
                                        }
                                    }
                                }
                                .line {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}