/***** v SLIDER *******/
#homepage-hero {
    height: 70vh;
    position: relative;

    @media(min-width: 768px) {
        height: 90vh;
    }

    .video-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        z-index: 99;
    }

    #hero-bg-vid {
        position: absolute;
        width: auto;
        height: auto;
        z-index: 99;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
    }

    .hero-cta {
        position: absolute;
        bottom: 12vh;
        z-index: 100;

        @media(max-width: 767px) {
            max-width: 60%;
            padding: 15px 10px 15px 20px;
            bottom: 8vh;
        }

        .cta-line {
            color: $red;
            text-shadow: 1px 1px 1px #ffffff;
            margin-bottom: 14px;
            font-size: 48px;
            font-family: $font--pt-sans-caption;
            font-weight: 700;
            padding: 0 0 0 70px;
            display: inline-block;
            line-height: 1;

            @media(max-width: 1140px) {
                font-size: 36px;
                padding-left: 50px;
            }

            @media(max-width: 767px) {
                padding: 0;
                line-height: 1;
                margin-bottom: 0;
            }

            &.cta-line--small {
                font-size: 24px;
                font-family: $font--pt-sans;
                font-weight: normal;
                max-width: 65%;
                margin-top: 20px;

                p {
                    font-size: inherit;
                    margin-bottom: 30px;
                }

                @media(max-width: 1140px) {
                    font-size: 24px;
                    max-width: 60%;
                }

                @media(max-width: 767px) {
                    max-width: none;
                    margin-top: 15px;
                    font-size: 22px;

                    p {
                        line-height: 1.4;
                    }

                    a {
                        font-size: 120%;
                    }
                }
            }

            a {
                color: inherit;
                font-style: italic;
                font-weight: 700;
                text-decoration: none;
            }

            p:last-of-type {
                margin-bottom: 0;
            }

            &:last-of-type {
                margin-bottom: 25px;

                @media(max-width: 767px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .slider-drop-shadow {
        position: absolute;
        width: 100%;
        top: 15px;
        left: 0;
        display: block;
        background: $red;
        height: 90vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        z-index: 98;

        @media(max-width: 768px) {
            height: 70vh;
            max-height: 800px;
        }
    }

}

/**** ^ SLIDER ****/

.sig {
    position: fixed;
    bottom: 8px;
    right: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.heading {
    p {
        margin: 2rem 0;
        font-size: 2rem;
        color: #555;
    }
}

#middle {
    .copy {
        margin-top: 0;

        p {
            color: #555;
            line-height: 1.6;
        }
    }
    .image {
        img {
            width: 100%;
            max-width: 640px;
        }
    }

    h2 {
        font-size: 2.5rem;

        @media(min-width: 768px) and (max-width: 1199px) {
            font-size: 2rem !important;
        }

        @media (max-width: 767px) {
            font-size: 2rem !important;
        }
    }

    p {
        font-size: 1.8rem;

        @media(min-width: 768px) and (max-width: 1199px) {
            font-size: 1.4rem !important;
        }

        @media (max-width: 767px) {
            font-size: 1.4rem !important;
        }
    }

    .row-bg-triangle {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -44%);

        @media(max-width: 1000px) {
            width: 130%;
            height: auto;
            max-width: none;
            margin-left: -15%;
        }

        @media(max-width: 767px) {
            width: auto;
            height: 100%;
        }
    }
}

.top-row {
    padding: 0;
    margin-bottom: 350px;
    position: relative;

    @media(max-width: 767px) {
        overflow: hidden;

        .container {
            padding-bottom: 50%;
        }
    }
}

.bottom-row {
    padding: 0;
    margin-bottom: 18%;
    margin-top: -250px;
    position: relative;

    @media(max-width: 767px) {
        overflow: hidden;
        margin-top: -100px;
    }

    @media(min-width: 1200px) and (max-width: 1680px) {
        margin-top: -360px;
    }

    .image {
        margin-top: 0;

        @media(min-width: 1199px) and(max-width: 1500px) {
            margin-top: 6%;
        }
    }

    .container {
        padding: 7rem 0 0 0;

        @media(min-width: 768px) and (max-width: 991px) {
            padding-top: 9vw;
        }

        @media(min-width: 992px) and (max-width: 1199px) {
            padding-top: 0;
        }

        @media(max-width: 767px) {
            padding-bottom: 20% !important;
        }
    }
}

.blank {
    content: '';
    position: relative;
    width: 60%;
    left: 20%;
    top: -350px;
    height: 500px;
    margin-bottom: -600px;
    background-image: url('./assets/img/home/bottom-lines_rb.svg'), url('./assets/img/home/top-lines_rb.svg');
    background-position: left 0 bottom 0, right 0 top 0;
    background-repeat: no-repeat;
    background-size: 300px 500px;
}

#panel-management {
    padding: 60px 0 20% 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: -340px;
    background: url('./assets/img/home/red-blue-line.svg') no-repeat;
    background-size: 100%;
    z-index: -1;
    .analyze {
        margin-top: 30% !important;

        @media(min-width: 1201px) and(max-width: 1540px) {
            margin-top: 16% !important;
        }

        > .row {
            margin-top: 0;
        }

        .copy {
            position: static;
        }

    }
    h2 {
        margin-top: 0;
        padding-top: 0;
        font-size: 2.5rem;
    }
    p {
        font-size: 1.8rem;
    }
    .bg-image-blue {
        display: none;
        width: 1750px;
        height: 1750px;
        background-image: url(//static.mailchimp.com/web/root/blank.gif);
        top: 517px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: -1;
        right: 29%;
    }
    .bg-image-red {
        display: none;
        width: 1750px;
        height: 1750px;
        background-image: url(//static.mailchimp.com/web/root/blank.gif);
        top: -285px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 29%;
        z-index: -2;
    }
    .container {
        margin-top: 18%;

        @media(max-width: 767px) {
            margin-top: -5%;
        }
    }

    .copy {
        margin-top: 0;

        h2 {
            @media(min-width: 768px) and (max-width: 1199px) {
                font-size: 2rem;
            }
        }

        p {
            @media(min-width: 768px) and (max-width: 1199px) {
                font-size: 1.4rem;
            }
        }
    }

    .image {
        position: relative;
        img {
            max-width: 954px;
            width: 100%;
        }
        .texture-bg {
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: -1;

            &.texture-bg--left {
                left: 0;
                transform: translateX(-10%) translateY(-50%);
            }

            &.texture-bg--right {
                right: 0;
                transform: translateX(30%) translateY(-50%);
            }
        }
    }

    .button--no-outline {
        border: none;
        background: transparent;
        color: $blue;
        box-shadow: none;
        text-align: left;
        padding: 0 !important;
        font-size: 34px !important;
        font-weight: 700;
        font-style: italic;
        font-family: $font--pt-sans;
        text-decoration: none;
    }
}

#clients {
    margin-bottom: -250px;
    & .row {
        padding-top: 0;
    }
    .container-fluid {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #eff1fa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%, #eff1fa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%, #eff1fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eff1fa', GradientType=0); /* IE6-9 */
        padding-bottom: 5rem;
    }
    .quotes {
        background-image: url(assets/img/home/quotation_start.svg), url(assets/img/home/quotation_end.svg);
        background-position: left 100px, right center;
        background-repeat: no-repeat;
        background-size: 200px;
    }
    h5 {
        font-size: 32px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 80px;
    }
}

#tcb-testimonial-carousel {
    padding-bottom: 10rem;
    & .carousel-indicators {
        transform: translateY(-500%);
    }
    & img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }
    & .carousel-control {
        width: 2%;
        & i {
            position: relative;
        }
    }
    & .carousel-control.left, .carousel-control.right {
        & i {
            color: $blue;
        }
        & img {
            height: 30px;
            width: 30px;
            transform: translateY(50px);
        }
        background-image: none;
    }
    & .carousel-indicators li {
        border: 1px solid $blue;
    }
    & .carousel-indicators .active {
        background-color: $blue;
    }
    font-size: 1.5rem;
    text-align: left;
}

.testimonial__author {
    padding: 0;
    display: table;
    font-style: italic;

    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 25px;
    }

    div {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}

#cta {
    z-index: 1;
    position: relative;
    & .row {
        padding-bottom: 20px;
    }
    h2 {
        color: white;
    }
    & .white {
        height: 3px;
        background-color: white;
        width: 100%;
        display: block;
        float: left;
        margin: -10px 0px 10px 0px;
    }
    .text-right {
        padding: 80px 10px 0 0;
    }
    a {
        color: white !important;
    }

}

#cta .cta__red a:hover {
    color: $red !important;
}

#cta .cta__blue a:hover {
    color: $blue !important;
}

.cta__red {
    @include redGradient;
    position: relative;
    padding: 0 15px 1rem 15px;
    color: white;
    &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: -4vw;
        width: 100%;
        height: 8vw;
        @include redGradient;
        transform: skewY(4deg);
        -webkit-backface-visibility: hidden;
        z-index: -1;
    }
    & a:hover {
        color: $red !important;
    }
}

.cta__blue {
    position: relative;
    color: white;
    padding-top: 50px;
    @include blueGradient;
    &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: -4vw;
        width: 100%;
        height: 8vw;
        background: linear-gradient(to top, #FFF 0, #FFF 100%);
        transform: skewY(4deg);
        -webkit-backface-visibility: hidden;
        z-index: 1;
    }
    & a:hover {
        color: $blue !important;
    }
}

footer {
    margin-top: 25px;
    & .row {
        padding-top: 0;
    }
}

.page-template-hompage {
    .button--blue-outline {
        font-weight: 700;
        font-size: 1.6rem !important;
    }

    .vcenter {
        @media(min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    .talk-to-expert {
        background: url('./assets/img/home/signup-box.png') no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 100%;
        position: absolute;
        z-index: 10;
        padding: 50px 25px;
        display: none;

        h2 {
            font-size: 2.2rem !important;
            font-weight: 700;
        }

        input[type=email], input[type=text] {
            background: #fff;
            border: 2px solid $blue;
            border-radius: 2px;
            padding: 6px;
            width: 100%;
        }

        @media(max-width: 767px) {
            margin-top: -100px;
            .row > div {
                margin-bottom: 10px;
            }
        }

        .js--close-talk-to-expert {
            position: absolute;
            right: 25px;
            top: 25px;
            font-size: 3rem;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }
    }

    a.button ~ .talk-to-expert {
        @media(max-width: 767px) {
            display: none !important;
        }
    }

    #panel-management ~ .talk-to-expert {
        @media(min-width: 768px) {
            display: none !important;
        }
    }

    #cta {
        .cta__red {
            h2 {
                @media (min-width: 861px) {
                    margin-top: -10px;
                }
            }
        }
    }

    .slick-slide {
        margin: 0px 20px;
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        & img {
            display: block;
            width: 100%;
        }
        & .slick-loading img {
            display: none;
        }
        & .dragging img {
            pointer-events: none;
        }
    }

    .slick-slider {
        & .slick-track, & .slick-list {
            transform: translate3d(0, 0, 0);
        }
        margin: 20px 0px 50px 0px;;
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        &:focus {
            outline: none;
        }
        & .dragging {
            cursor: pointer;
        }
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-track {
        &:before {
            display: table;
            content: '';
        }
        &:after {
            display: table;
            content: '';
            clear: both;
        }
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }

    .slick-loading {
        & .slick-track {
            visibility: hidden;
        }
        & .slick-slide {
            visibility: hidden;
        }
    }

    [dir='rtl'] .slick-slide {
        float: right;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }

    button.slick-prev, button.slick-next {
        display: none !important;
    }

    .vector-lines-container {
        width: 100%;
        margin-top: -400px;
        margin-bottom: 0;

        @media(min-width: 1000px) and (max-width: 1199px) {
            margin-top: -490px;
        }

        @media(min-width: 1200px) {
            margin-top: -510px;
        }

        @media(min-width: 1680px) {
            margin-top: -450px;
        }
    }

    .blank {
        content: '';
        position: relative;
        width: auto;
        left: auto;
        top: 0;
        height: 640px;
        margin: 0;
        padding: 0;
        background-image: url(assets/img/home/bottom-lines_rb.svg), url(assets/img/home/top-lines_rb.svg);
        background-position: left 20% bottom 90%, right 20% top 0;
        background-repeat: no-repeat;
        //background-size: 320px 640px;

        @media(min-width: 768px) and (max-width: 991px) {
            background-position: left 10% bottom 90%, right 10% top 0;
        }

        @media(min-width: 992px) and (max-width: 1199px) {
            background-position: left 10% bottom 10%, right 10% top 0%;
        }

        @media(max-width: 767px) {
            background-image: url('assets/img/home/top-lines_rb.svg');
            background-size: contain;
            background-position: center center;
            margin-left: -5%;
            margin-right: -5%;
            margin-top: -480px;
        }
    }

    #panel-management {

        .take-action {
            @media(max-width: 767px) {
                position: relative;
                z-index: 99;
                margin-bottom: 0;
                background: #fff;
                overflow: hidden;

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    background: #fff;
                    height: 10%;
                    bottom: 0;
                }
            }

            .copy {
                @media(max-width: 767px) {
                    margin-bottom: 0;
                }
            }
        }

        .analyze {
            @media(max-width: 767px) {
                margin-top: 0 !important;
                padding-top: 50%;
                overflow: hidden;

                .copy {
                    margin-bottom: 0 !important;
                }
            }
        }

        .image {
            @media(max-width: 767px) {
                position: relative;
                overflow: visible;
                margin-bottom: 110px;

                img {
                    position: relative;
                    z-index: 3;
                }
            }

            .bg-image-red {
                @media(max-width: 767px) {
                    display: block;
                    top: 50%;
                    transform: translateY(-50%);
                    left: auto;
                    right: 10%;
                }
            }

            .bg-image-blue {
                @media(max-width: 767px) {
                    display: block;
                    top: 50%;
                    transform: translateY(-50%);
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

