/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$red: #910811;
$red-link: #910811;
$blue: #07074e;
$grey-dark: #58595b;
$grey-medium: #666;
$grey-regular: #999;
$grey-light: #ccc;

/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */
