body.page-template-research-module {
    height: auto;

    @media(min-width: 1590px) {
        .container {
            width: 1560px;
        }
    }

    @media(min-width: 768px) {
        padding-top: 0;

        .navbar.navbar-fixed-top:not(.shrink) {
            background-color: transparent;
            border-color: transparent;
        }
    }

    #navbar {
        .request-toggle:not(.request-appointment) {
            display: none;
        }
    }

    .booked-calendar-wrap {
        height: auto !important;
        margin-bottom: 0;
    }

    section {
        h2 {
            font-size: 66px;
            padding: 0;

            @media(max-width: 767px) {
                font-size: 33px;
            }
        }

        p {
            font-size: 41px;
            color: #666;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media(max-width: 767px) {
                font-size: 25px;
            }
        }

        .red {
            color: $red;
        }
    }

    section.cta-demo {
        background: #139FAC;
        box-shadow: 0 13px 3px #D8D8E3;
        width: 100%;
        margin-bottom: 50px;
        transition: background-color 150ms linear;

        &:hover {
            background-color: $red;
        }

        a {
            display: block;
            text-decoration: none;
            color: #fff;
            text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.35);
            text-align: center;
            font-family: $font--open-sans;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 41px;
            padding: 25px 15px;

            @media(max-width: 767px) {
                font-size: 33px;
            }
        }
    }

    section.hero-cta {
        background-size: cover;
        padding: 80px 0;
        position: relative;
        overflow: hidden;

        #hero-bg-vid {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            transform: translateX(-50%) translateY(-50%);

            @media(max-width: 767px) {
                display: none;
            }
        }

        .content-wrapper {
            max-width: 870px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            z-index: 10;

            p {
                color: $blue;

                @media(max-width: 767px) {
                    font-size: 25px;
                }
            }

            .quote-source {
                font-size: 33px;
                font-family: $font--open-sans-condensed;
                font-style: italic;

                @media(max-width: 767px) {
                    font-size: 25px;
                }
            }
        }
    }

    section.page-about {
        padding-bottom: 30px;

        .content-wrapper {
            max-width: 740px;
            margin: 0 auto;
            text-align: center;

            p {
                &.sub-header {
                    line-height: 1;
                    margin-bottom: 40px;
                }
            }
        }
    }

    section.product-demo {
        border-bottom: 13px solid #D8D8E3;
        padding: 40px 0 60px;
        position: relative;
        background: #EEE;
        background: linear-gradient(155deg, #f8f8f8 0%, #f8f8f8 50%, #fafafa 50.001%, #fafafa 100%);
        overflow: hidden;

        background-size: 100%;
        background-position: 0 0;

        @keyframes bg-ellipse-animate-1 {
            0%, 100% {
                transform: scale(1.05);
            }
            50% {
                transform: scale(0.95);
                opacity: 0.3;
            }
        }

        @keyframes bg-ellipse-animate-2 {
            0%, 100% {
                transform: scale(1.03) translateX(-50%);
            }
            50% {
                transform: scale(0.95) translateX(-50%);
                opacity: 0.3;
            }
        }

        @keyframes bg-ellipse-animate-3 {
            0%, 100% {
                transform: scale(1.07);
            }
            50% {
                transform: scale(0.95);
                opacity: 0.3;
            }
        }

        @keyframes bg-ellipse-animate-4 {
            0%, 100% {
                transform: scale(1.05);
            }
            50% {
                transform: scale(0.95);
                opacity: 0.3;
            }
        }

        .ellipsis-1, .ellipsis-2, .ellipsis-3, .ellipsis-4 {
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            opacity: 0.6;
        }

        .ellipsis-1 {
            background-image: url('./assets/img/research-module/ellipse1.svg');
            width: 36%;
            padding-bottom: 36%;
            left: -3%;
            top: 8%;

            @media(min-width: 768px) {
                animation: bg-ellipse-animate-1 10s infinite;
            }
        }

        .ellipsis-2 {
            background-image: url('./assets/img/research-module/ellipse2.svg');
            width: 30%;
            padding-bottom: 30%;
            left: 50%;
            top: 23%;
            transform: translateX(-50%);

            @media(min-width: 768px) {
                animation: bg-ellipse-animate-2 13s infinite;
            }
        }

        .ellipsis-3 {
            background-image: url('./assets/img/research-module/ellipse3.svg');
            width: 16%;
            padding-bottom: 16%;
            right: 9%;
            top: 8%;

            @media(min-width: 768px) {
                animation: bg-ellipse-animate-1 7s infinite;
            }
        }

        .ellipsis-4 {
            background-image: url('./assets/img/research-module/ellipse4.svg');
            width: 18%;
            padding-bottom: 18%;
            right: -5%;
            top: 1%;

            @media(min-width: 768px) {
                animation: bg-ellipse-animate-1 12s infinite;
            }
        }

        .product-demo__slider-pages {
            display: block;
            text-align: center;
            margin-bottom: 50px;

            @media(max-width: 767px) {
                margin-bottom: 25px;
            }

            li {
                display: inline-block;
                margin: 0 30px;
                cursor: pointer;

                &.active {
                    color: $red;
                    text-decoration: underline;
                    font-weight: 700;
                }

                @media(max-width: 767px) {
                    font-size: 25px;
                }

                @media(max-width: 479px) {
                    margin: 0 15px;
                }

                @media(max-width: 390px) {
                    margin: 0 4px;
                }
            }
        }

        .product-demo__slider {
            max-width: 1560px;
            margin: 0 auto;

            &.hide-arrows {
                .slick-arrow {
                    display: none !important;
                }
            }

            .slick-arrow {
                position: absolute;
                font-size: 0;
                width: 50px;
                height: 50px;
                background: url('./assets/img/research-module/button.svg') center center no-repeat;
                background-size: contain;
                top: 50%;
                transform: translateY(-50%);

                &:hover {
                    background-image: url('./assets/img/research-module/button-active.svg');
                }

                &.slick-prev {
                    left: -50px;
                    transform: translateY(-50%) rotate(-180deg);
                }

                &.slick-next {
                    right: -50px;
                }
            }

            .slick-slide {
                h3 {
                    padding: 0;
                    margin: 0 0 15px;
                    font-size: 48px;

                    @media(max-width: 767px) {
                        font-size: 33px;
                    }
                }
                p {
                    font-size: 22px;

                    @media(max-width: 767px) {
                        font-size: 25px;
                        line-height: 1.3;

                        &:not(:last-of-type) {
                            margin-bottom: 15px;
                        }
                    }
                }

                @media(max-width: 767px) {
                    text-align: center;

                    > div {
                        margin-bottom: 35px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .slick-dots {
                text-align: center;
                font-size: 0;
                margin-top: 15px;

                @media(max-width: 767px) {
                    margin-top: 25px;
                }

                li {
                    display: inline-block;
                    border: 2px solid $blue;
                    border-radius: 50%;
                    font-size: 0;
                    width: 14px;
                    height: 14px;
                    margin: 0 5px;
                    cursor: pointer;

                    &.slick-active {
                        background: $blue;
                    }

                    @media(max-width: 767px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    section.product-quote {

        padding: 170px 0 120px;
        position: relative;

        .bg-bottom {
            background: url('./assets/img/research-module/quote-bg-bottom-new.svg') center bottom no-repeat;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 6;
        }

        .bg-top {
            background: url('./assets/img/research-module/quote-bg-top-new.svg') center center no-repeat;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 4;
        }

        .bg-arrows {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 5;
            background-image: url('./assets/img/research-module/arrows/arrow-1.svg'),
            url('./assets/img/research-module/arrows/arrow-2.svg'),
            url('./assets/img/research-module/arrows/arrow-3.svg'),
            url('./assets/img/research-module/arrows/arrow-4.svg'),
            url('./assets/img/research-module/arrows/arrow-5.svg'),
            url('./assets/img/research-module/arrows/arrow-6.svg'),
            url('./assets/img/research-module/arrows/arrow-7.svg'),
            url('./assets/img/research-module/arrows/arrow-8.svg'),
            url('./assets/img/research-module/arrows/arrow-9.svg'),
            url('./assets/img/research-module/arrows/arrow-10.svg'),
            url('./assets/img/research-module/arrows/arrow-11.svg'),
            url('./assets/img/research-module/arrows/arrow-12.svg'),
            url('./assets/img/research-module/arrows/arrow-13.svg');
            background-repeat: no-repeat;
            background-size: auto 420px;
            background-position: 10% 80%, 12% 93%, 14.5% 82%, 16% 70%, 17% 94%, 20% 86%, 21.5% 71%, 22.5% 86%, 24.5% 77%, 25% 90%, 28% 64%, 30.5% 77%, 19% 53%;

            @media(max-width: 979px) {
                margin-top: -100px;
            }
        }

        @media(max-width: 767px) {
            background-image: url('./assets/img/research-module/blue-bg-m.png');
            background-size: cover;
            background-position: 50% 10%;
            background-repeat: no-repeat;

            .bg-bottom, .bg-top, .bg-arrows {
                display: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 7px solid rgba(0, 0, 0, 0.3);
        }

        @keyframes rotate-ellipse {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(-15deg);
            }
            75% {
                transform: rotate(15deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }

        .ellipsis-1, .ellipsis-2, .ellipsis-3, .ellipsis-4 {
            background-repeat: no-repeat;
            position: absolute;
            animation: rotate-ellipse 15s infinite linear;
            background-size: contain;
            z-index: 10;
            opacity: 0.6;

            @media(max-width: 767px) {
                display: none;
            }
        }

        .ellipsis-1 {
            background-image: url('./assets/img/research-module/ellipse-quote-1.svg');
            width: 28%;
            padding-bottom: 28%;
            left: 41%;
            top: 3%;
        }

        .ellipsis-2 {
            background-image: url('./assets/img/research-module/ellipse-quote-2.svg');
            width: 17%;
            padding-bottom: 17%;
            left: 49%;
            top: 11%;
        }

        .ellipsis-3 {
            background-image: url('./assets/img/research-module/ellipse-quote-3.svg');
            width: 26%;
            padding-bottom: 26%;
            left: 65%;
            top: 33%;
        }

        .ellipsis-4 {
            background-image: url('./assets/img/research-module/ellipse-quote-4.svg');
            width: 26%;
            padding-bottom: 26%;
            left: 70%;
            top: 25%;
        }

        .content-wrapper {
            width: 100%;
            padding-left: 50%;
            padding-right: 70px;
            padding-top: 50px;
            position: relative;
            z-index: 15;

            @media(max-width: 767px) {
                padding-left: 45%;
                padding-right: 30px;
            }

            &:before {
                content: "\201C";
                display: block;
                position: absolute;
                font-family: $font--pt-sans-narrow;
                color: #9b9fbb;
                font-size: 815px;
                text-shadow: -2px -10px 0 rgba(0, 0, 0, 0.2);
                top: 0;
                left: 46%;
                line-height: 0.8;
                z-index: 5;

                @media(max-width: 767px) {
                    font-size: 300px;
                    line-height: 1.1;
                    left: 52%;
                }
            }

            .quote-text {
                position: relative;
                z-index: 10;
            }

            h2 {
                margin: 0;
                padding: 0;
                font-family: $font--pt-sans-caption;
                color: #fff;
                font-size: 125px;
                font-weight: 700;
                text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);

                @media(max-width: 767px) {
                    font-size: 58px;
                    text-align: center;
                }
            }

            p {
                font-size: 54px;
                color: #fff;
                line-height: 1.3;
                margin-bottom: 20px;
                text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.3);

                &.quote-author {
                    font-size: 58px;

                    @media(max-width: 767px) {
                        font-size: 26px;
                        line-height: 1.6;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                @media(max-width: 767px) {
                    font-size: 25px;
                    line-height: 1.6;
                    text-align: right;
                }
            }
        }
    }

    section.why-us {
        padding: 30px 0;

        .content-wrapper {
            max-width: 1560px;
            margin: 0 auto;
        }

        .why-us__facts {
            margin-top: 25px;

            .row {
                > div {
                    margin-bottom: 25px;

                    @media(min-width: 768px) {
                        padding: 0 35px;
                    }

                    @media(max-width: 767px) {
                        text-align: center;

                        h3 {
                            font-size: 33px;
                        }
                    }
                }
            }

            p {
                font-size: 26px;
                color: #555;
                margin-bottom: 15px;
                line-height: 1.3;

                &:last-of-type {
                    margin-bottom: 0;
                }

                @media(max-width: 767px) {
                    font-size: 25px;
                }
            }
        }
    }

    section.truth-fact {
        background-image: url('./assets/img/research-module/fact-bg.jpg');
        background-size: cover;
        background-position: center center;
        padding: 180px 0;
        position: relative;

        @media(max-width: 767px) {
            background-image: url('./assets/img/research-module/fact-bg-m.jpg');
        }

        .ellipsis-1, .ellipsis-2, .ellipsis-3, .ellipsis-4 {
            background-repeat: no-repeat;
            position: absolute;
            animation: rotate-ellipse 15s infinite linear;
            background-size: contain;
            z-index: 10;
            opacity: 0.6;

            @media(max-width: 767px) {
                display: none;
            }
        }

        .ellipsis-1 {
            background-image: url('./assets/img/research-module/ellipse-quote-1.svg');
            width: 28%;
            padding-bottom: 28%;
            left: 2%;
            top: 9%;
        }

        .ellipsis-2 {
            background-image: url('./assets/img/research-module/ellipse-quote-2.svg');
            width: 18%;
            padding-bottom: 18%;
            left: 9%;
            top: 18%;
        }

        .ellipsis-3 {
            background-image: url('./assets/img/research-module/ellipse-quote-3.svg');
            width: 27%;
            padding-bottom: 27%;
            left: 17%;
            top: 24%;

            @media(max-width: 767px) {
                display: none;
            }
        }

        .ellipsis-4 {
            background-image: url('./assets/img/research-module/ellipse-quote-4.svg');
            width: 27%;
            padding-bottom: 27%;
            left: 25%;
            top: 18%;

            @media(max-width: 767px) {
                display: none;
            }
        }

        > .container {
            position: relative;
            z-index: 15;
        }

        .content-wrapper {
            max-width: 1360px;
            margin: 0 auto;

            @media(max-width: 767px) {
                padding: 0 30px;
            }

            h2 {
                margin: 0;
                padding: 0;
                font-family: $font--pt-sans-caption;
                color: #fff;
                font-size: 125px;
                font-weight: 700;
                text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);

                @media(max-width: 767px) {
                    font-size: 41px;
                }
            }

            p {
                font-size: 54px;
                color: #fff;
                line-height: 1.3;
                margin-bottom: 20px;
                text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.3);
                max-width: 720px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                @media(max-width: 767px) {
                    font-size: 25px;
                    max-width: 200px;
                    line-height: 1.6;
                }
            }
        }
    }

    section.testimonials {
        padding: 120px 0;
        background: linear-gradient(to top, #edf0f9 0%, #fff 100%);

        .content-wrapper {

        }

        .testimonials-wrapper {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            @media(max-width: 767px) {
                display: block;
                padding-left: 30px;
            }

            .testimonial {
                width: 46%;
                border: 4px solid $blue;
                padding: 30px 60px 70px;
                position: relative;

                @media(max-width: 767px) {
                    width: 100%;
                    margin-bottom: 120px;
                    padding: 15px 30px 60px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &:first-of-type {
                    border-image: linear-gradient(380deg, transparent 0%, transparent 10%, #0202c7 35%, #0202c7 65%, $blue 100%);
                    border-image-slice: 1;
                }

                &:last-of-type {
                    border-image: linear-gradient(368deg, transparent 0%, transparent 10%, #0202c7 35%, #0202c7 65%, $blue 100%);
                    border-image-slice: 1;
                }

                p {
                    font-family: $font--pt-sans;
                    font-size: 30px;
                }

                * {
                    position: relative;
                    z-index: 10;
                }

                &:before {
                    content: "\201C";
                    display: block;
                    position: absolute;
                    font-family: $font--pt-sans-narrow;
                    color: #fff;
                    font-size: 815px;
                    text-shadow: -2px -10px 0 rgba(238, 238, 238, 0.6);
                    top: -4%;
                    left: -6%;
                    line-height: 0.8;
                    z-index: 5;
                }

                .testimonial__client-logo {
                    position: absolute;
                    bottom: 0;
                    transform: translateY(50%);
                    max-width: 80%;
                }
            }
        }
    }

    section#cta {
        padding-top: 8vw;
        background-color: #edf0f9;

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.6rem;
            color: #fff;
        }

        a.button {
            display: inline-block;

            @media(max-width: 767px) {
                margin-top: 25px;
            }
        }
    }
}